.DS_Store

/libs/atnotate/atnotate.pyc
.idea

/src/android/.classpath
/src/android/.project
/src/android/bin/*
/src/android/gen/*

/src/www/components

/src/ios/App.xcodeproj/project.xcworkspace/xcuserdata
/src/ios/App.xcodeproj/xcuserdata
/src/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata

/src/www/css/app/app.min.css
/node_modules
/cordova
/docs
/cordova
/doc
/pkg
/tmp
/build
/log

.tern-port
