<div class="overflow-scroll">
  <header>
    <h1><a href="/">Dashboard</a></h1>
    <ul class="links">
      <li><a href="/support">Support</a></li>
      <li><a href="{@config key="auth_url" p0="oauth/authorize"/}?client_id={@config key="app_id"/}&response_type=token">Sign In</a></li>
    </ul>
  </header>

  <div class="wrapper">
    <h2>Privacy Policy</h2>
    <p>
      Your privacy is important to Mutual Mobile, Inc. and this privacy policy pertains to the use of the software application MM Dashboard (“Application”) created by us for mobile devices. Mutual Mobile may change this policy from time to time for any reason by updating this page. You are advised to consult this privacy policy regularly for any changes, as continued use is deemed approval of all changes.
    </p>
    <p>
     WHAT IS COLLECTED. No user provided information is collected. The Application may collect certain information automatically, including, but not limited to, the type of mobile device you use, cookies, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browsers you use, and information about the way you use the Application. Information from data you have provided through use of other applications on the Clover platform will be retrieved from Clover, but is not stored on systems owned or operated by us.
    </p>

    <p>
      HOW WILL WE USE THIS INFORMATION. We are not in the business of selling this information, however, we may disclose User Provided and Automatically Collected Information (1) as required by law, such as to comply with a subpoena, or similar legal process; (2) when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request; (3) with our trusted services providers who work on our behalf, do not have an independent use of the information we disclose to them, and have agreed to adhere to the rules set forth in this privacy statement; (4) to improve the Application and/or (5) as may be required in connection with the sale or reorganization of all or part of our business, as permitted by applicable law.
    </p>

    <p>
      YOU CAN OPT OUT. You can stop all collection of information by the Application easily by uninstalling the Application. You may use the standard uninstall processes as may be available as part of your mobile device or via the mobile application marketplace or network.
    </p>
    <p>
      RETENTION POLICY. Data automatically collected through our third party analytics provider about how you use the app will be retained for an indefinite period of time; otherwise, no user provided data or data provided by the Clover platform is retained.
    </p>
    <p>
      SECURITY. We are concerned about safeguarding the confidentiality of your information. We provide physical, electronic, and procedural safeguards to protect any information we process and maintain.
    </p>
  </div>
 <footer>
   <h3><a href="/end-user-agreement">End User License Agreement</a> <a href="/privacy-policy">Privacy Policy</a></h3>
 </footer>
</div>
