<div class="detail-info">
  <div class="number"></div>
  <div class="overview main-tab" data-panel="overview">
  </div>
  <div class="bar-chart main-tab clearfix" data-panel="bar">
    <div class="inner"></div>
    <div class="arrow"></div>
  </div>
  <div class="pie-chart main-tab clearfix" data-panel="pie">
    <div class="revenue-by-category"></div>
    <div class="arrow"></div>
  </div>
</div>
<div class="mobile-tabs">
  <div data-panel="overview">Stats</div>
  <div data-panel="bar">Over Time</div>
  <div data-panel="pie">Breakdown</div>
</div>
<div class="detail-panels">
  <div class="detail-panel" data-panel="overview">
    <div class="metrics"></div>
  </div>
  <div class="detail-panel" data-panel="bar">
    <div class="bar-chart-full"></div>
  </div>
  <div class="detail-panel clearfix" data-panel="pie">
    <div class="pie-chart-full"></div>
  </div>
</div>