<div class="detail-info">
  <div class="number"></div>
  <div class="overview" data-panel="overview">
    <h1 class="name">
      {?firstName}
        {firstName}<span>{lastName}</span>
      {:else}
        {name}
      {/firstName}
    </h1>
    <div class="numeric-stats">
      <div class="numbers">
        <span class="revenue">{total|cashMoney|s}</span>
      </div>
      <div class="line-graph">
        <div class="pink-line" style="width:{relativePercent|percent}"></div>
      </div>
    </div>
    <div class="arrow"></div>
  </div>
  <div class="bar-chart clearfix" data-panel="bar">
    <div class="inner"></div>
    <div class="arrow"></div>
  </div>
  <div class="pie-chart clearfix" data-panel="pie">
    <div class="revenue-by-category"></div>
    <div class="arrow"></div>
  </div>
</div>
<div class="detail-panels">
  <div class="detail-panel" data-panel="overview">
    <div class="metrics"></div>
  </div>
  <div class="detail-panel" data-panel="bar">
    <div class="label">{barChartLabel}</div>
    <div class="bar-chart-full"></div>
  </div>
  <div class="detail-panel clearfix" data-panel="pie">
    <div class="pie-detail"></div>
    <ol>
      {#pieDetailList}
        <li>{name}<span class="count">{count}</span></li>
      {/pieDetailList}
    </ol>
  </div>
</div>