<div class="time-selector"></div>

<div class="employee">
  <div class="employee-info">
    <h1 class="number">01</h1>
    <h1 class="name">George<span>Henderson</span></h1>
    <div class="numeric-stats">
      <div class="numbers">
        <span class="percent">74%</span>
        <span class="drinks">435 Drinks</span>
        <span class="revenue">$1,245.55</span>
      </div>
      <div class="line-graph">
        <div class="pink-line"></div>
      </div>
    </div>
    <div class="graphs">
      <div class="bar-chart clearfix">
        
      </div>
      <div class="pie-chart clearfix">
        <div class="revenue-by-employee"></div>
      </div>
    </div>
  </div>
</div>

<div class="employee">
  <div class="employee-info">
    <h1 class="number">02</h1>
    <h1 class="name">Tiani<span>Jones</span></h1>
    <div class="numeric-stats">
      <div class="numbers">
        <span class="percent">74%</span>
        <span class="drinks">435 Drinks</span>
        <span class="revenue">$1,245.55</span>
      </div>
      <div class="line-graph">
        <div class="pink-line"></div>
      </div>
    </div>
    <div class="graphs">
      <div class="bar-chart clearfix">
        
      </div>
      <div class="pie-chart clearfix">
        <div class="revenue-by-employee"></div>
      </div>
    </div>
  </div>
</div>

<div class="employee">
  <div class="employee-info">
    <h1 class="number">03</h1>
    <h1 class="name">Julie<span>Lowe</span></h1>
    <div class="numeric-stats">
      <div class="numbers">
        <span class="percent">74%</span>
        <span class="drinks">435 Drinks</span>
        <span class="revenue">$1,245.55</span>
      </div>
      <div class="line-graph">
        <div class="pink-line"></div>
      </div>
    </div>
    <div class="graphs">
      <div class="bar-chart clearfix">
        
      </div>
      <div class="pie-chart clearfix">
        <div class="revenue-by-employee"></div>
      </div>
    </div>
  </div>
</div>

<div class="employee">
  <div class="employee-info">
    <h1 class="number">04</h1>
    <h1 class="name">Ryan<span>Considine</span></h1>
    <div class="numeric-stats">
      <div class="numbers">
        <span class="percent">74%</span>
        <span class="drinks">435 Drinks</span>
        <span class="revenue">$1,245.55</span>
      </div>
      <div class="line-graph">
        <div class="pink-line"></div>
      </div>
    </div>
    <div class="graphs">
      <div class="bar-chart clearfix">
        
      </div>
      <div class="pie-chart clearfix">
        <div class="revenue-by-employee"></div>
      </div>
    </div>
  </div>
</div>

<div class="employee">
  <div class="employee-info">
    <h1 class="number">05</h1>
    <h1 class="name">Jake<span>Riesterer</span></h1>
    <div class="numeric-stats">
      <div class="numbers">
        <span class="percent">74%</span>
        <span class="drinks">435 Drinks</span>
        <span class="revenue">$1,245.55</span>
      </div>
      <div class="line-graph">
        <div class="pink-line"></div>
      </div>
    </div>
    <div class="graphs">
      <div class="bar-chart clearfix">
        
      </div>
      <div class="pie-chart clearfix">
        <div class="revenue-by-employee"></div>
      </div>
    </div>
  </div>
</div>
