<div class="overflow-scroll">
 {>"templates/nonAuthHeader"/}

  <div class="wrapper">
    <h2>End-User License Agreement</h2>
    <p>
      This End-User License Agreement (EULA) is a legal agreement between you (either an individual or a single entity) and Mutual Mobile, Inc. for the application identified above, which includes computer software and may include associated media, printed materials, and “online” or electronic documentation (the “Application”). By installing, copying, or otherwise using the Application, you agree to be bounded by the terms of this EULA. If you do not agree to the terms of this EULA, do not install or use the Application.
    </p>
    <p>
      GRANT OF LICENSE. This EULA grants you the following rights: installation and use.
    </p>

    <p>
      LICENSE LIMITATION. You may not reverse engineer, decompile, modify, reproduce or distribute any copies of the Application without written consent from Mutual Mobile, Inc., except and only to the extent that such activity is expressly permitted by applicable law notwithstanding this limitation.
    </p>

    <p>
      SOFTWARE TRANSFER. You may permanently transfer all of your rights under this EULA, provided the recipient agrees to the terms of this EULA.
    </p>
    <p>
      TERMINATION. Without prejudice to any other rights, Mutual Mobile, Inc. may terminate this EULA if you fail to comply with the terms and conditions of this EULA. In such event, you must destroy all copies of the Application and all of its component parts.
    </p>
    <p>
      COPYRIGHT. All title and copyrights in and to the Application (including but not limited to any images, photographs, clipart, libraries, and examples incorporated into the Application), the accompanying printed materials, and any copies of the Application are owned by Mutual Mobile, Inc. The Application is protected by copyright laws and international treaty provisions; therefore, you must treat the Application like any other copyrighted material. 
    </p>
    <p>
      NO WARRANTY. Mutual Mobile, Inc. expressly disclaims any warranty for the Application. The Application and any related documentation is provided “as is” without warranty of any kind, either express or implied, including, without limitation, the implied warranties or merchantability, fitness for a particular purpose, or noninfringement. The entire risk arising out of use or performance of the Application remains with you.
    </p>
    <p>
      NO LIABILITY FOR DAMAGES. In no event shall Mutual Mobile, Inc. be liable for any special, consequential, incidental or indirect damages whatsoever (including, without limitation, damages for loss of business profits, business interruption, loss of business information, or any other pecuniary loss) arising out of the use of or inability to use this product, even if Mutual Mobile, Inc. is aware of the possibility of such damages and known defects.
    </p>
  </div>
  {>"templates/nonAuthFooter"/}
</div>