<div class="overflow-scroll">
{>"templates/nonAuthHeader"/}
 <div class="landing">
   <div class="hero">
      <div class="video">
       <div class="poster-image"></div>
       <video autoplay>
          <source src="assets/img/Reporting-iPad.mp4" type="video/mp4">
          <source src="assets/img/Reporting-iPad.ogv" type="video/ogv">
          <source src="assets/img/Reporting-iPad.webm" type="video/webm">
        </video>
      </div>
   </div>
   
   <div class="sign-in">
     <h2>Simple Reporting for Your Clover Business</h2>
     <h3>Don't have Clover? <b><a href="https://www.clover.com">Learn More</a></b></h3>

     <div class="login-wrapper"> 
      <form>
       <input class="email" name="email" type="email" placeholder="Email" required>
       <input class="password" name="password" type="password" placeholder="PassWord" required>
        <div class="group">
          <div class="wrapper">
            <div class="field">
              <button class="submit button"><h3><span>Sign In</span> <span>with clover</span></h3></button>
            </div>
          </div>
        </div>
      </form>
    </div>

   </div>
   <div class="column-wrapper">
     <div class="column glance">
       <h2><span></span>At A Glance</h2>
       <p>See your sales across the day, week or month. Other metrics include orders per hour, sales per head and sales per hour.</p>
     </div>
     <div class="column cross-platform">
       <h2><span></span>Cross Platform</h2>
       <p>Optimized to work where you work, using your phone, tablet or computer; basically anything with a web browser.</p>
     </div>
     <div class="column leader">
       <h2><span></span>Leaderboards</h2>
       <p>Easily see which products are selling the best and which employees are selling the most among other valuable statistics.</p>
     </div>
   </div>
 </div>
 {>"templates/nonAuthFooter"/}
</div>

