<a href="{@config key="auth_url" p0="oauth/authorize"/}?client_id={@config key="app_id"/}&response_type=token">Login</a>
<!--
<div class="overflow-scroll">
  <div class="login-header">
    <h1><span class="bold">Clover</span>Dashboard</h1>
    <div class="version">Version 0.1</div>
    <div class="note">Please log in:</div>
  </div>
  <form id="login" class="clearfix">
    <div class="field">
      <label for="merchant-id">Merchant Id</label>
      <input type="text" id="merchant-id" name="merchant-id" value="RZC2F4FMKFJ12" required>
    </div>
    <div class="field">
      <label for="access-token">Access Token</label>
      <input type="text" id="access-token" name="access-token" value="8b8a19c5-1b13-dcbd-c9b3-36e3b24eccea" required>
    </div>
    <button>Login</button>
  </form>
</div>
-->