<div class="wrapper clearfix">
  {^loading}
    {^error}
      <div class="info-container border-highlight">
        <div class="label">
          <div>Total</div>
          <div>Sales</div>
        </div>
        <div class="total-revenue value">{total|cashMoney|s}</div>
      </div>
      <div class="info-container border-highlight">
        <div class="label">
          <div>Total</div>
          <div>Orders</div>
        </div>
        <div class="value">{count}</div>
      </div>
      <div class="info-container border-highlight">
        <div class="label">
          <div>Overall Sales</div>
          <div>Percentage</div>
        </div>
        <div class="value">{percent|percent}</div>
      </div>
      <div class="info-container border-highlight">
        <div class="label">
          <div>Average</div>
          <div>Order</div>
        </div>
        <div class="value">{averageOrder|cashMoney|s}</div>
      </div>
    {:else}
      <p>Error loading data</p>
    {/error}
  {:else}
    <div class="loading-spinner center"></div>
  {/loading}
</div>