<h2>{popoverTitle}</h2>
{?popoverData}
  <ol>
    {#popoverData}
      <li>
        <h3>{label}<span>{value|cashMoney|s}</span></h3>
        <div class="bar-wrapper">
          <div class="bar" style="width:{percentOfTop}%;background:{color};"></div>
        </div>
      </li>
    {/popoverData}
  </ol>
  <div class="see-more-wrapper">
    <a href="#" class="popover-see-more">See More</a>
  </div>
{:else}
  {?loading}
    <div class="loading-spinner full-width"></div>
  {:else}
    <div class="empty">No Data</div>
  {/loading}
{/popoverData}