<h2>{popoverData.title}</h2>
{?popoverData.items}
  <ol>
    {#popoverData.items}
      <li>
        <h3>{label}<span>{value|cashMoney|s}</span></h3>
        <div class="bar-wrapper">
          <div class="bar" style="width:{percentOfTop}%;background:#{color};"></div>
        </div>
      </li>
    {/popoverData.items}
  </ol>
  <div class="see-more-wrapper">
    <a href="/employees" class="see-more">See More</a>
  </div>
{:else}
  {?loading}
    <div class="loading-spinner full-width"></div>
  {:else}
    <div class="empty">No Data</div>
  {/loading}
{/popoverData.items}