{^loading}
  {^error}
    <div class="info-container">
      <div class="label">In the past 24 hours, you've made:</div>
      <div class="total-revenue">{totalRevenue|cashMoney}</div>
      <div class="date-range">
        <time datetime="{startTime|timestamp}">{startTime|dateTime}</time>
        <time datetime="{endTime|timestamp}">{endTime|dateTime}</time>
      </div>
    </div>
  {:else}
    <p>Error loading data</p>
  {/error}
{:else}
  <div class="loading-spinner center"></div>
{/loading}