<div class="wrapper">
  <svg>
    <linearGradient id="area-gradient" gradientUnits="userSpaceOnUse" x1="0%" y1="0%" x2="0%" y2="100%">
      <stop stop-color="#93bfd8" offset="0"/>
      <stop stop-color="#445d6b" offset="1"/>
    </linearGradient>
    <linearGradient id="background-gradient" gradientUnits="userSpaceOnUse" x1="0%" y1="0%" x2="0%" y2="100%">
      <stop stop-opacity=".15" stop-color="#FFFFFF" offset="0"/>
      <stop stop-opacity="0" stop-color="#BABABA" offset="1"/>
    </linearGradient>
  </svg>
</div>