<div class="overflow-scroll">
  {>"templates/nonAuthHeader"/}

  <div class="wrapper">
    <div class="row header">
      <h2>Support</h2>
      <p>See how your business is doing anytime, anywhere, on any device. Dashboard integrates with Clover to provide real time performance information about your business. See how you are doing today, or review past performance to identify trends.</p>

    </div>


    <div class="row">
      <div class="double">
        <img src="assets/img/dashboard.jpg" alt="">
      </div>
      <div class="double">
        <h2>The Dashboard</h2>
        <p>The dashboard screen can show a summary of your sales on a daily, weekly or monthly view. You may tap anywhere along the graph to see a popover of the sales for that point in time. Underneath the timeline graph you will see a summary of total sales, orders per hour, sales per customer, total orders, sales per employee, and sales per hour. </p>
      </div>
    </div>

    <div class="row">
      <div class="double right">
        <img src="assets/img/nav.jpg" alt="">
      </div>
      <div class="double">
        <h2>Navigation and Logout</h2>
        <p>To navigate between the Dashboard, Employee Summary and Product Summary, simply click on the main menu button in the top left-hand corner and select a new page. To log out of the Dashboard application, click the “logout” button from the main menu drop-down seen above.</p>
      </div>
    </div>


    <div class="row">
      <div class="double">
        <img src="assets/img/date.jpg" alt="">
      </div>
      <div class="double">
        <h2>Expand Date Range</h2>
        <p>To look at a previous period’s sales simply click on the left and right arrows on the top of the screen to look at past history.</p>
      </div>
    </div>


    <div class="row">
      <div class="double right">
        <img src="assets/img/filter.jpg" alt="">
      </div>
      <div class="double">
        <h2>Updating Time Interval</h2>
        <p>To change the time interval used in Dashboard, simply click on the drop down arrow on the top right-hand side of the screen that lists the interval and select a new time interval. The screen will automatically adjust to show the new interval of data. </p>
      </div>
    </div>

    <div class="row">
      <div class="double">
        <img src="assets/img/sales.jpg" alt="">
      </div>
      <div class="double">
        <h2>Sales Insight</h2>
        <p>On the lower half of the screen are graphs for “Sales by Category and “Sales by Employee”. When on a desktop or tablet, hovering or tapping over these graphs will show a summary of your top items. Tap “Learn More” to be taken into an additional details screen with a summary view of each top item and further details about it. </p>
      </div>
    </div>

   
   <div class="row">
    <div class="double right">
        <img src="assets/img/employee.jpg" alt="">
      </div>
      <div class="double">
        <h2>Employees</h2>
        <p>On the employees screen you can see a snapshot of all of your employees ranked by amount of sales. Click on an individual employee  to view more data about what was sold, how many of each item was sold, and what percentage each sale is.  </p>
      </div>
    </div>

    <div class="row">
      <div class="double">
        <img src="assets/img/products.jpg" alt="">
      </div>
      <div class="double">
        <h2>Products</h2>
        <p>On the products screen you can see an overview of all your products ranked by amount of sales. Click on an individual product to view more data about how much was sold, by whom and what percentage each sale is.</p>
      </div>
    </div>





  </div>
  {>"templates/nonAuthFooter"/}
</div>