<div class="date-range">
  <div class="arrow back"></div>
  <time datetime="{startTime|timestamp}">
    <span class="month">{@moment value="{startTime}" format="MMM"/}</span>
    <span class="day">{@moment value="{startTime}" format="D"/}</span>
    <span class="year">&lsquo;{@moment value="{startTime}" format="YY"/}</span>
  </time>
  <span class="sep">&thinsp;&ndash;&thinsp;</span>
  <time datetime="{endTime|timestamp}">
    <span class="month">{@moment value="{endTime}" format="MMM"/}</span>
    <span class="day">{@moment value="{endTime}" format="D"/}</span>
    <span class="year">&lsquo;{@moment value="{endTime}" format="YY"/}</span>
  </time>
  <div class="arrow forward"></div>
</div>

<div id="time-range-select">
  <div class="select-wrapper">
    {#modes}
      <div data-value="{key}" {@eq key="{key}" value="{mode}"}class="selected"{/eq}>{label}</div>
    {/modes}
  </div>
</div>
<!-- <div class="picker">
  <div class="date-group">
    <label for="custom-start-date">Start Date</label>
    <input type="date" id="custom-start-date" value="{customStartTime|ymd}">
    <input type="time" id="custom-start-time" value="{customStartTime|hm}">
  </div>
  <div class="date-group">
    <label for="custom-end-date">End Date</label>
    <input type="date" id="custom-end-date" value="{customEndTime|ymd}">
    <input type="time" id="custom-end-time" value="{customEndTime|hm}">
  </div>
  <button data-action="apply">Apply</button>
</div> -->