.view.dashboard {
  position: relative;
  .time-selector {
    position: absolute;
    top: 0;
    left: 0;
  }
  .revenue-graph {
    width: 100%;
    min-height: 20%;
    position: relative;
  }
  .pie-chart > div {
    position: relative;
    @media (min-width: 1000px) {
      width: 50%;
      float: left;
    }
  }
}