.view.login .overflow-scroll {

  position: relative;
  color: #FFFFFF;
  display: block;
  @media (min-height: @loginModalCutoff) {
    background-color: #373b3d;
    border-bottom: 1px solid rgba(0,0,0,.4);
    position: absolute;
    width: 346px;
    height: 293px;
    top: 50%;
    left: 50%;
    margin-top: -224px;
    margin-left: -173px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  }
  @media (min-width: 400px) and (max-height: (@loginModalCutoff - 1)) {
    max-width: 350px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  }
  .login-header {
    height: 112px;
    padding: 28px 10px 0;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,.4);
    .horizontal-gradient(#373b3d,#2d3033);
    h1 {
      position: relative;
      font-family: helveticaUltraLight;
      font-size: 34px;
      padding: 0;
      font-weight: normal;
      letter-spacing: 1px;
      text-align: center;
      .bold {
        font-family: helveticaBold;
        font-weight: normal;
      }
    }
    .version {
      display: none;
      float: right;
      text-transform: uppercase;
      color: #939393;
      font-size: 10px;
      letter-spacing: 1px;
      margin-right: 10px;
    }
    .note {
      text-transform: uppercase;
      color: #939393;
      font-size: 10px;
      position: absolute;
      left: 10;
      bottom: 10px;
    }
    @media (min-height: @loginModalCutoff) {
      padding: 28px 38px 0;
      .note {
        left: 38;
      }
      .version {
        display: block;
        margin-right: 0;
      }
      h1 {
        font-size: 34px;
        text-align: left;
      }
    }
  }
  form {
    .horizontal-gradient(#373b3d,#2d3033);
    height: 181px;
    .field {
      background-color: #474c4f;
      height: 68px;
      padding: 0 10px;
      position: relative;
      border-top: 1px solid rgba(255,255,255,.1);
      border-bottom: 1px solid rgba(0,0,0,.4);
      @media (min-height: @loginModalCutoff) {
        padding: 0 38px;
      }
      label {
        display: block;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 5px;
        color: #9b9b9b;
        text-transform: uppercase;
      }
      input {
        border-radius: 3px;
        border: 0;
        background-color: transparent;
        color: #FFFFFF;
        padding: 0;
        display: block;
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-size: 13px;
        outline: 0;
      }
    }
    input[type="submit"] {
      display: block;
      float: right;
      border-radius: 4px;
      border: 0;
      border-top: 1px solid rgba(255,255,255,.1);
      border-radius: 0;
      background: transparent;
      text-align: center;
      color: white;
      font-weight: bold;
      font-size: 14px;
      width: 100%;
      height: 44px;
      font-family: helveticaBold;
    }
  }
}