.view.login {
  position: relative;
  form {
    display: block;
    padding: 50px 20px 20px;
    @media (min-height: @loginModalCutoff) {
      padding: 20px;
      background: #f9f9f9; /* Old browsers */
      background: -moz-linear-gradient(top, #f9f9f9 0%, #d8d8d8 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #f9f9f9 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #f9f9f9 0%,#d8d8d8 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #f9f9f9 0%,#d8d8d8 100%); /* IE10+ */
      background: linear-gradient(to bottom, #f9f9f9 0%,#d8d8d8 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
      position: absolute;
      width: 320px;
      height: 320px;
      top: 50%;
      left: 50%;
      margin-top: -224px;
      margin-left: -160px;
      border-radius: 5px;
      box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.7);
      color: #444;
    }
    @media (min-width: 400px) and (max-height: (@loginModalCutoff - 1)) {
      max-width: 350px;
      margin: 0 auto;
    }
  }
  h1 {
    display: none;
    @media (min-height: @loginModalCutoff) {
      display: block;
      margin: 10px 0 20px;
      text-align: center;
      margin: 10px 0 40px;
    }
  }
  label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  input {
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #999;
    padding: 6px;
    display: block;
    width: 100%;
  }
  button {
    display: block;
    float: right;
    border-radius: 4px;
    border: 0;
    background: #2E9A59;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
    @media (min-height: @loginModalCutoff) {
      margin-top: 20px;
    }
  }
}