.recent-orders-total {
  padding: 30px;
  height: 133px;
  .wrapper {
    position: relative;
  }
  .label, time {
    text-align: left;
    font-size: 18px;
    color: #FFFFFF;
  }
  .total-revenue {
    text-align: left;
    font-size: 55px;
    color: #FFFFFF;
  }
  @media only screen and (min-width: 768px) {
    .label {
      font-size: 20px;
    }
    .total-revenue {
      font-size: 40px;
    }
  }
  @media only screen and (min-width: 1200px) {
    .total-revenue {
      font-size: 50px;
    }
  }
}