.revenue_over_time {
  .wrapper {
    height: 235px;
    .nvd3.nv-lineChart .nv-groups .nv-point {
      fill: #FFFFFF;
      stroke: rgba(255,255,255,1);
      fill-opacity: 1 !important;
      stroke-opacity: 1 !important;
      -webkit-svg-shadow: 0 0 3px rgba(0,0,0,0);
    }
    .nvd3.nv-scatter .nv-groups .nv-point.hover, .nvd3 .nv-groups .nv-point.hover {
      stroke-width: 3 !important;
    }
    .nvd3.nv-lineChart .nv-group {
      fill-opacity: .2;
      stroke-opacity: 1;
      stroke-width: 3;
    }
    .nvd3 .nv-groups path.nv-line {
      -webkit-svg-shadow: 0 0 3px rgba(0,0,0,0);
    }
    svg {
      #graph-background {
        fill: #2b2e30;
        fill-opacity: .5;
        stroke: #FFFFFF;
        stroke-width: 1;
      }
      .nv-linesWrap #nv-edge-clip-17057 rect {
        stroke: rgba(255,255,255,1);
        stroke-width: 1;
        stoke-opacity: 1;
      }
      .nv-series-0 {
        fill: url(#gradient) !important;
        stroke: #FFFFFF !important;
        fill-opacity: .2 !important;
        stroke-width: 3 !important;
      }
      text {
        fill: #979899;
      }
      .nv-axislabel {
        fill: #979899;
      }
      .tick {
        line {
          stroke: #262929;
        }
      }
      .tick.minor {
        stroke: #393c3c;
      }
    }
    .nvtooltip {
      position: absolute;
      background-color: rgba(255,255,255,1);
      z-index: 10000;
     
      font-size: 13px;
      padding: 10px;
     
      pointer-events: none;
     
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: #000000;

      .triangle {
        @dropDownArrowWidth: 10px;
        position: absolute;
        top: 100%;
        margin-top: -12px;
        margin-left: -15px;
        left: 50%;
        width: 30px;
        height: 30px;
        cursor: pointer;
        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 0;
          height: 0;
          top: 50%;
          margin-top: -(@dropDownArrowWidth / 2);
          left: 50%;
          margin-left: -@dropDownArrowWidth;
          border-left: @dropDownArrowWidth solid transparent;
          border-right: @dropDownArrowWidth solid transparent;
          border-top: @dropDownArrowWidth solid #fff;
        }
        &.open:before {
          border-top: 0;
          border-bottom: @dropDownArrowWidth solid #fff;
        }
      }
    }
     
    .nvtooltip .money {
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 18px;
      line-height: 23px;
      font-weight: bold;
      padding: 0 10px;
    }
     
    .nvtooltip time {
      margin: 0;
      padding: 0;
      display: block;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      line-height: 14px;
    }
  }
}